#skills {
    max-width: 77.4rem;
    margin: auto;
}

#skills-title {
    margin-bottom: 2rem;
}

#skills-list p {
    color: var(--c-main);
    font-size: clamp(1.3rem, 1.8vw, 1.8rem);
    font-weight: 400;
}

#skills-list ul {
    list-style: none;
    columns: 2;
    font-size: clamp(1.4rem, 2vw, 2rem);
    font-weight: 300;
    color: var(--c-sub);
    margin-bottom: 3rem;
}

#skills-list li {
    margin-bottom: 1rem;
}

#skills-list li span {
    margin-right: .5rem;
}

#flex-wrapper {
    display: flex;
    flex-direction: column;
}

.experience {
    background-color: var(--c-main);
    color: #FCFAFA;
    padding: 2.5rem 3rem;
}

.experience-title {
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-weight: 500;
    margin-bottom: .6rem;
}

.experience-date {
    font-size: clamp(1.4rem, 1.5vw, 1.8rem);
    margin-bottom: .5rem;
    color: #D6D6D6;
    font-weight: 100;
}

.experience-company {
    font-size: clamp(1.4rem, 1.5vw, 1.8rem);
    font-weight: 300;
    margin-bottom: 1rem;
}

.experience-description {
    font-size: clamp(1.4rem, 1.5vw, 1.8rem);
    color: #D6D6D6;
    margin-bottom: 0;
    font-weight: 100;
    line-height: clamp(1.8rem, 1.5vw, 2rem);
}

@media screen and (min-width: 50em) {
    #skills-list ul {
        columns: 3;
    }

    #flex-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 65em) {
    #skills-list ul {
        columns: 3;
    }
}