#work-link {
    /* float: right; */
    margin-right: 1rem;
    cursor: pointer;
    opacity: 40%;
    font-size: 1.6rem;
    color: black;
}

#arrow {
    margin-left: .8rem;
}

#work-link:hover {
    opacity: 70%;
    transition: .2s;
}

#work-link:hover #arrow {
    transform: translateX(.5rem);
    transition: .2s;
}

/* @media screen and (min-width: 65em) {
    #about {
        width: 60%;
    }
} */