#about {
    max-width: 85rem;
    margin: auto;
}

#work-link {
    /* float: right; */
    margin-right: 1rem;
    margin-top: clamp(1.8rem, 3vw, 2.3rem);
    cursor: pointer;
    opacity: 40%;
    font-size: clamp(1.3rem, 1.6vw, 1.8rem);
    color: black;
}

#arrow {
    margin-left: .8rem;
}

#work-link:hover {
    opacity: 70%;
    transition: .2s;
}

#work-link:hover #arrow {
    transform: translateX(.5rem);
    transition: .2s;
}

.first-paragraph {
    /* border-left: 3px solid #10855c; */
    border-left: 3px solid var(--c-border);
    padding-left: 12px;
    margin-bottom: 1.5rem;
}

.first-paragraph p {
    margin: 0;
}

/* @media screen and (min-width: 65em) {
    #about {
        position: relative;
        left: -5%;
    }
} */