.contact {
    max-width: 65rem;
    margin: auto;
    text-align: center;
}

.contact h2 {
    font-weight: 500;
    margin-bottom: clamp(1rem, 1.8vw, 1.8rem);
}

.contact p {
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: clamp(1rem, 1.5vw, 2.4rem);
    color: var(--c-sub);
    font-size: clamp(1.3rem, 1.8vw, 1.8rem);
    font-weight: 400;
}

.contact-form input, textarea {
    border: none;
    background-color: transparent;
    padding: 1.2rem 0;
    padding-bottom: 0rem;
    color: var(--c-main);
    font-family: var(--f-main);
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    letter-spacing: .1rem;
    font-weight: 400;
    border-bottom: 1px solid rgb(174, 174, 174);
}

.contact-form input::placeholder, textarea::placeholder {
    color: var(--c-main);
    opacity: 0.6;
    font-weight: 300;
    letter-spacing: .2rem;
}

.contact-form input {
    display: block;
    width: 100%;
    height: 5.3rem;
    margin-bottom: 1rem;
}

.contact-form textarea {
    display: block;
    width: 100%;
    height: 15rem;
    line-height: 2rem;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-bottom: 2px solid var(--c-main);
}

.submit-btn {
    width: 100%;
    height: 4.5rem;
    background-color: var(--c-accent-l);
    border: 1px solid var(--c-accent-l);
    text-transform: uppercase;
    font-family: var(--f-button);
    font-weight: 400;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    letter-spacing: .3rem;
    cursor: pointer;
    max-width: 40rem;
    margin-top: clamp(2rem, 4vw, 4.5rem);
    color: white;
}

.submit-btn:hover {
    transition: .2s;
    border: 1px solid var(--c-accent);
    background-color: var(--c-accent);
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 50em) {
    .flex-wrapper {
        flex-direction: row;
    }

    .flex-wrapper>*:first-child {
        margin-right: clamp(1rem, 2vw, 2rem);
    }

    .contact-form {
        text-align: center;
    }
}