.hamburger-menu {
    position: fixed;
    top: 0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 0;
    background-color: rgb(247, 247, 247);
    z-index: 20;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-menu.open {
    height: 100vh;
}

.menu-list {
    transition: .2s;
    display: none;
}

.hamburger-menu.open .menu-list {
    z-index: 40;
    color: var(--c-main);
    display: block;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

.menu-item {
    margin-bottom: clamp(2rem, 5vh, 5rem);
}

.link {
    font-weight: 300;
    padding-bottom: .5rem;
    cursor: pointer;
    color: var(--c-link);
}

.link:hover {
    color: var(--c-accent);
}

.resume-btn {
    display: block;
    margin: auto;
    background-color: var(--c-accent-l);
    border: 1px solid var(--c-accent-l);
    color: white;
    padding: 1rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: clamp(1.4rem, 1.7vw, 1.7rem);
    font-family: var(--f-button);
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    width: 50%;
}

.resume-btn:hover {
    transition: 0.2s;
    border-color: var(--c-accent);
    background-color: var(--c-accent);
}

.resume-btn:visited {
    color: white;
}

@media screen and (min-width: 37.5em) {
    .hamburger-menu {
        display: none;
    }
}