#header {
    height: 8rem;
    padding-right: 3rem;
}

#logo-container {
    width: 8rem;
    height: 100%;
    background-color: var(--c-main);
}

#logo-container p {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--f-logo);
    letter-spacing: .2rem;
    margin-bottom: 0;
}