.header {
    padding-right: clamp(2rem, 3vw, 3rem);
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
}

.logo-container {
    width: clamp(6rem, 9vw, 9rem);
    height: clamp(6rem, 9vw, 9rem);
    background-color: transparent;
    position: relative;
    z-index: 30;
    cursor: pointer;
}

.logo-container p {
    color: var(--c-main);
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 500;
    font-family: var(--f-logo);
    letter-spacing: .1rem;
    margin-bottom: 0;
    border-bottom: .2rem solid var(--c-accent-l);
    line-height: clamp(1.8rem, 2.1vw, 2.3rem);
}