.header {
    padding-right: clamp(2rem, 3vw, 3rem);
    position: fixed;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.95);
    z-index: 10;
}

.logo-container {
    width: clamp(6rem, 9vw, 9rem);
    height: clamp(6rem, 9vw, 9rem);
    background-color: var(--c-main);
    position: relative;
    z-index: 30;
}

.logo-container:hover {
    cursor: pointer;
    /* background-color: var(--c-border); */
}

.logo-container:hover p {
    transition: 0.2s;
    /* color: var(--c-main); */
    /* color: red; */
}

.logo-container p {
    color: white;
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    font-family: var(--f-logo);
    letter-spacing: .1rem;
    margin-bottom: 0;
}