.navigation {
    width: clamp(35rem, 50vw, 55rem);
}

.navigation-list {
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.resume-btn {
    background-color: var(--c-accent-l);
    border: 2px solid var(--c-accent-l);
    color: var(--c-border);
    padding: clamp(0.5rem, 1vw, 0.8rem) clamp(1rem, 1.5vw, 2rem);
    text-transform: uppercase;
    cursor: pointer;
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    letter-spacing: .3rem;
    font-family: var(--f-button);
    font-weight: 500;
    text-decoration: none;
}

.resume-btn:visited {
    color: white;
}

.resume-btn:hover {
    transition: .2s;
    background-color: var(--c-accent);
    border-color: var(--c-accent);
}

.section-link {
    font-size: clamp(1.3rem, 1.6vw, 1.8rem);
    font-weight: 300;
    color: var(--c-link);
    cursor: pointer;
    padding: .8rem 0;
}

.section-link:hover, .nav-item>.active {
    /* transition: .2s; */
    /* border-bottom: .3rem solid var(--c-accent); */
    color: var(--c-accent-l);

}