.navigation {
    display: none;
    width: clamp(35rem, 40vw, 60rem);
}

.navigation-list {
    list-style: none;
}

.resume-btn {
    background-color: transparent;
    border: 1px solid var(--c-main);
    padding: clamp(0.5rem, 1vw, 0.8rem) clamp(1rem, 1.5vw, 2rem);
    text-transform: uppercase;
    cursor: pointer;
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    font-family: var(--f-button);
    font-weight: 500;
    letter-spacing: 2px;
}

.resume-btn:hover {
    transition: .3s;
    background-color: var(--c-main);
    color: var(--c-bg);
}

.section-link {
    font-size: clamp(1.3rem, 1.6vw, 1.8rem);
    color: var(--c-main);
    cursor: pointer;
    opacity: 60%;
}

.section-link:hover {
    opacity: 100%;
    transition: .2s;
}

@media screen and (min-width: 37.5em) {
    .navigation {
        display: block;
    }
}