#sidebar {
    height: 100%;
    min-width: 6.5em;
    display: none;
}

#sidebar-content {
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
}

#sidebar-content img {
    width: 2rem;
    height: auto;
}

#sidebar-content span {
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--c-main);
}

#sidebar-content>*:not(:last-child) {
    margin-bottom: 1rem;
}

@media screen and (min-width: 65em) {
    #sidebar {
        display: flex;
    }
}