#sidebar {
    height: 100%;
    width: clamp(6rem, 9vw, 9rem);
    display: none;
}

#sidebar-content {
    position: fixed;
    bottom: 0;
}

#sidebar-content img {
    width: 2rem;
    height: auto;
}

#sidebar-content img:hover {
    opacity: 50%;
    transition: .2s;
}

#sidebar-content span {
    display: block;
    width: 1px;
    height: 10em;
    background-color: var(--c-main);
}

#sidebar-content>*:not(:last-child) {
    margin-bottom: 1.2em;
}

@media screen and (min-width: 65em) {
    #sidebar {
        display: flex;
    }
}