#app-container {
    padding: 0 8%;
}

@media screen and (min-width: 37.5em) {
    #app-container {
        padding: 0 10%;
    }
}

.section {
    margin: 12rem 0;
}

.divider {
    display: block;
    width: 1.1rem;
    max-width: 0.7em;
    height: 1.1rem;
    max-height: 0.7em;
    background-color: var(--c-main);
    margin: auto;
    transform: rotate(45deg)
}

#attribution {
    margin: auto;
    text-align: center;
}

#attribution p {
    font-family: var(--f-button);
    font-size: .75em;
    color: var(--c-main);
    font-weight: 500;
    margin-bottom: 1rem;
}

#links {
    margin-bottom: .5rem;
}

#links img {
    width: 1.3em;
    height: auto;
}

#links *:not(:last-child) {
    margin-right: 1.2rem;
}

#links span {
    height: 1px;
    width: 100%;
    background-color: var(--c-main);
}

@media screen and (min-width: 65em) {
    #links {
        display: none;
    }
}