.app-container {
    padding: 0 8%;
    flex: 1;
    margin-top: clamp(6rem, 9vw, 9rem);
}

@media screen and (min-width: 37.5em) {
    .app-container {
        padding: 0 10%;
    }
}

.section {
    margin-bottom: clamp(15rem, 25vw, 35rem);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - clamp(6rem, 9vw, 9rem));
    margin-bottom: clamp(10rem, 12vw, 15rem);

}

.divider {
    display: block;
    width: clamp(0.7rem, 1vw, 1rem);
    height: clamp(0.7rem, 1vw, 1rem);
    background-color: transparent;
    margin: auto;
    transform: rotate(45deg)
}

.attribution {
    margin: auto;
    text-align: center;
}

.attribution p {
    font-family: var(--f-button);
    font-size: 1em;
    color: var(--c-main);
    font-weight: 500;
    margin-bottom: 1rem;
}

.links {
    margin-bottom: 1em;
}

.links *:not(:last-child) {
    margin-right: 2rem;
}

.icon {
    width: 1.8rem;
    height: auto;
    color: var(--c-main);
}

.icon:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 65em) {
    .links {
        display: none;
    }
}