/* VARIABLES */
:root {
  /* COLORS */
  --c-main: #373A3C;

  /* FONTS */
  --f-logo: 'Noto Sans', sans-serif;

}

/* FLEX UTILITIES */
.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}

/* LAYOUT UTILITIES */
.padding-main {
  padding: 0 3rem;
}

/* RESET */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}