/* VARIABLES */
:root {
  /* COLORS */
  --c-main: #373A3C;
  --c-sub: #7B7B7B;

  /* FONTS */
  --f-logo: 'Noto Sans', sans-serif;
  --f-header: Georgia, 'Times New Roman', Times, serif;
  --f-main: 'Roboto', sans-serif;
}

/* FLEX UTILITIES */
.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-fe {
  justify-content: flex-end;
}

.flex-ai-c {
  align-items: center;
}

/* LAYOUT */
.ta-right {
  text-align: right;
}

/* RESET */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  font-family: var(--f-main);
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* TYPOGRAPHY */
h1, h2 {
  font-family: var(--f-header);
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 1.2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 100;
  max-width: 28rem;
  margin: auto;
  margin-bottom: 3rem;
  color: var(--c-sub);
}

p {
  font-size: 1.8rem;
  color: var(--c-sub);
  font-weight: 300;
  margin-bottom: 1.5rem;
}

a {
  font-size: 1.6rem;
  color: black;
  opacity: 40%;
}