/* VARIABLES */
:root {
  /* COLORS */
  --c-main: #373A3C;
  --c-sub: #7B7B7B;
  --c-bg: #f6f6f6;
  --c-bg-sub: rgba(244, 244, 244, 0.637);
  --c-border: #dcdcdc;
  --c-accent: #ff2756;
  --c-accent-l: #fb5a7d;
  --c-link: rgb(149, 149, 149);

  /* FONTS */
  --f-button: 'Fira Code', monospace;
  --f-logo: 'Lato', sans-serif;
  --f-header: Georgia, 'Times New Roman', Times, serif;
  --f-main: 'Roboto', sans-serif;
}

/* FLEX UTILITIES */
.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-fe {
  justify-content: flex-end;
}

.flex-ai-c {
  align-items: center;
}

.flex-ai-e {
  align-items: flex-end;
}

.flex-ai-sb {
  align-items: space-between;
}

/* LAYOUT */
.ta-right {
  text-align: right;
}

.mb-title {
  margin-bottom: clamp(1.4rem, 2.2vw, 3rem);
}

/* OTHER */
.scroll-lock {
  overflow-y: hidden;
}

.c-accent {
  color: var(--c-accent);
}

.disabled {
  pointer-events: none;
}

/* RESET */
html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  font-family: var(--f-main);
  color: var(--c-main);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
}

/* TYPOGRAPHY */

h1 {
  font-size: clamp(5rem, 9vw, 9rem);
  font-weight: 500;
  font-family: var(--f-main);
}

h2 {
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 400;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.4rem);
  font-weight: 200;
  width: clamp(24rem, 40vw, 34rem);
  margin: auto;
  margin-bottom: 3rem;
  color: var(--c-sub);
}

h4 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 300;
  margin-bottom: 0.1rem;
  color: var(--c-main);
}

p {
  /* font-size: clamp(1.4rem, 2vw, 3rem); */
  font-size: clamp(1.4rem, 2vw, 2.7rem);
  color: var(--c-sub);
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: clamp(1.9rem, 3vw, 4rem);
  letter-spacing: 0.5px;
}

hr {
  flex: 1;
  border-top: dotted 1px var(--c-sub);
  margin-left: 2rem;
}