#work {
    max-width: 90rem;
    margin: auto;
}

.work-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 50em) {
    .work-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media screen and (min-width: 65em) {
    #work {
        position: relative;
        left: -5%;
    }
} */