.work-card {
    background-color: #FAFAFA;
    padding: clamp(2rem, 2vw, 2.5rem);
}

.work-card h4 {
    font-size: clamp(1.6rem, 2vw, 2rem);
    margin-bottom: 1.4rem;
}

.work-id {
    font-weight: 300;
}

.work-name {
    text-transform: uppercase;
    font-weight: 500;
}

.work-description {
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    line-height: clamp(1.6rem, 2.2vw, 2.2rem);
}

.work-technologies {
    margin-bottom: 0;
    margin-right: 1rem;
    font-family: var(--f-button);
}

.tech {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-weight: 500;
    color: #10855c;
    margin-bottom: 0;
}

.tech:not(:last-of-type) {
    margin-right: 1.2rem;
}

.work-links a {
    opacity: 0.7;
}

.work-link:not(:last-of-type) {
    margin-right: clamp(1rem, 1.5vw, 1.5rem);
}

.work-link img {
    width: clamp(1.6rem, 2vw, 2rem);
    height: auto;
    opacity: 0.8;
}

.work-link:hover img {
    opacity: 1;
}

.work-link:hover {
    opacity: 1;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-icon {
    width: clamp(1.8rem, 2.5vw, 2.5rem);
    height: auto;
}

@media screen and (max-width: 21.5em) {
    .work-card {
        text-align: center;
    }

    .flex-wrapper {
        flex-direction: column;
    }

    .work-technologies {
        margin-bottom: 1rem;
    }
}