.work {
    max-width: 115rem;
    margin: auto;
}

.work h2 {
    border-left: clamp(.3rem, .5vw, .5rem) solid var(--c-accent-l);
    padding-left: clamp(1rem, 1.5vw, 2rem);
}

.work-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(1rem, 1.8vw, 1.8rem);
}

@media screen and (min-width: 45em) {
    .work-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}