.work {
    max-width: 110rem;
    margin: auto;
}

.work-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(1rem, 1.8vw, 1.8rem);
}

@media screen and (min-width: 45em) {
    .work-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}